<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />

		<title></title>
		<link href="../../css/mui.min.css" rel="stylesheet" />

		<script type="text/javascript" src="../../js/common.js"></script>
		<script type="text/javascript" src="../../js/angular.min.js"></script>
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript" src="../../js/cfg.js"></script>
	</head>
	<script>
		var app = angular.module('myApp', []);
		app.controller('myCtrl', function($scope, $filter) {

			$scope.dataread = function() {
				//$scope.list.push({ key: 1, val: 222 })
				var itemLength = plus.storage.getLength();
				$scope.list = [];
				for(var i = 0; i < itemLength; i++) {
					var key = plus.storage.key(i);
					var value = plus.storage.getItem(key);
					$scope.list.push({ key: key, val: value })
				};
				$scope.ishidden = "list";
			}

			$scope.clearAllItem = function() {
				var btnArray = ['取消', '确定'];
				mui.confirm('确定清除出缓存吗？', '提示', btnArray, function(e) {
					if(e.index == 1) {
						plus.storage.clear();
					} else {
						mui.toast("已取消")
					}
				})

			}
			$scope.getdata = function() {
				db.showbill(function(res) {
					$scope.sqllist = res;
					$scope.ishidden = "sqllist";
					$scope.$apply();

				})
			}
			$scope.delbill = function() {

				var btnArray = ['取消', '确定'];
				mui.confirm('确定清除出数据吗？', '提示', btnArray, function(e) {
					if(e.index == 1) {
						db.delbill();
					} else {
						mui.toast("已取消")
					}
				})
			}
		})
	</script>

	<body ng-app="myApp" ng-controller="myCtrl">
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">日志</h1>
		</header>

		<div class="mui-content">
			<div class="mui-content-padded">
				<button ng-click="dataread()">查看</button>

				<button ng-click="clearAllItem()">清除</button>
				<button ng-click="getdata()">查看数据</button>
				<button ng-click="delbill()">清除</button>
			</div>

			<div class="mui-card">
				<div class="mui-card-content">

					<div class="mui-card-content-inner {{ishidden=='list'?'':'mui-hidden'}}" ng-repeat="item in list">
						<p>{{item.key}}</p>
						{{item.val}}
					</div>
					<div class="mui-card-content-inner {{ishidden=='sqllist'?'':'mui-hidden'}}" ng-repeat="item in sqllist">
						<p>{{item.id}}</p>
						{{item.des}}|{{item.money}}|{{item.date}}|{{item.state}}
					</div>
				</div>
			</div>
		</div>
	</body>

</html>