<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<script type="text/javascript" src="../../js/angular.min.js"></script>
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript" src="../../js/jquery.min.js"></script>
		<script type="text/javascript" src="../../js/cfg.js" ></script>
		<script type="text/javascript">
			mui.init();
			var app = angular.module('myApp', []);
			app.controller('myCtrl', function($scope, $filter) {
				$scope.list = [];
				$scope.bill = {};
				var date = new Date();
				$scope.bill.bdate = date.getFullYear() + "-" + (date.getMonth() + 1) + "-" + date.getDate();

				$("#date").val($scope.bill.bdate);
			
				$scope.addBill = function() {
					var bill = $scope.bill;
					if(bill.des == null) {
						mui.toast('说明不能为空', { duration: 'short', type: 'div' })
						return;
					}

					if(bill.money <= 0 || bill.money == null) {
						mui.toast('金额不正确', { duration: 'short', type: 'div' })
						return;
					}
					//plus.storage.setItem("11","test")
					console.log($scope.bill);
					bill.state=1;
					db.addbill(bill.money,bill.des,bill.bdate);
					plus.storage.setItem(cfg.keyname + date.getTime(), JSON.stringify($scope.bill));
					mui.alert("录入成功", "提示", "确定", function() {
							mui.openWindow({
								url: "/index.html",
								id: "index.html"
							});
					},
						"div");

				}
			});
		</script>
	</head>

	<body>
<header  class="mui-bar mui-bar-nav">
	<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
	
	<h1 class="mui-title">新建</h1>
</header>
		<div class="mui-content" ng-app="myApp" ng-controller="myCtrl">
			<div class="mui-content-padded">
				
				<form class="mui-input-group">
					<div class="mui-input-row">
						<label>说明</label>
						<input type="text" ng-model="bill.des" class="mui-input-speech mui-input-clear" placeholder="事物说明">
					</div>
					<div class="mui-input-row">
						<label>金额</label>
						<input type="number" ng-model="bill.money" class="mui-input-clear" placeholder="金额">
					</div>

					<div class="mui-input-row ">
						<label>日期</label>
						<input type="date" id="date" ng-model="bill.bdate" class="mui-input-clear">
						<!--value="{{bill.bdate}}"-->
					</div>

					<div class="mui-button-row">
						<button type="button" class="mui-btn mui-btn-primary" ng-click="addBill()">确认</button>&nbsp;&nbsp;
						<button type="reset" class="mui-btn mui-btn-danger">取消</button>
					</div>
				</form>
				 
			</div>
		</div>

	</body>

</html>